DB_HOST=tuHostDeBaseDeDatos
DB_PORT=5432
DB_NAME=nombre_de_tu_base_de_datos
DB_USER=nombre_de_usuario_de_tu_base_de_datos
DB_PASSWORD=tu_password_de_base_de_datos
JWT_SECRET=tu_secreto_muy_seguro_aqui_cambiar_en_produccion
NODE_ENV=development
PORT=8000